.header-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-top: 80px;
  display: block;
}

@media (max-width:500px) {
  .header-title {
    font-size: 24px;
    line-height: 30px;
  }
  .header-title2 {
    font-size: 14px;
  }
}

.site-title {
  font-family: 'Inter', sans-serif;
  /* color: #0072FF; */
}

.nav-bar {
  font-family: 'Inter', sans-serif;
}

.header-title2 { 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: block;
  margin-top: 1.5rem;
  color: #81858B;
}

.second-title {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}

.footer-container {
  background-color: #111112;
  padding: 140px 0 80px 0;
}

.footer-title {
  font-family: 'Playfair Display', serif;
  line-height: 44px;
  margin-bottom: 30px;
  font-size: 36px;
  color: white;
}

.footer-content {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #919192;
}

p {
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 24px;
  display: block;
}

.email {
  font-size: 28px;
  color: #919192;
}

.social-media {
color: #919192;
font-weight: 400;
line-height: 20px;
}

span {
  font-weight: 400;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #0072FF;
}

@media (max-width: 767px) {
  .brand {
    justify-content: center;
  }
}

@media (max-width:640px) {
  .brand2 {
    justify-content: space-between;
  }
}
